BasedOnStyle: WebKit
AlignTrailingComments: true
BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
PointerBindsToType: true
SpacesBeforeTrailingComments: 1
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeTernaryOperators: true
IndentCaseLabels: true
Language: Cpp
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
ColumnLimit: 120